<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <div>
    <%= form.label :status %><br>
    <%= form.label :status, "Public", value: "public" %>
    <%= form.radio_button :status, "public", checked: true %>
    <%= form.label :status, "Private", value: "private" %>
    <%= form.radio_button :status, "private" %>
    <%= form.label :status, "Archived", value: "archived" %>
    <%= form.radio_button :status, "archived" %><br>
  </div>
<% end %>
