<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <%= article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <%= article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.label :status, "Public", value: "public" %>
    <%= form.radio_button :status, "public" %>
    <%= form.label :status, "Private", value: "private" %>
    <%= form.radio_button :status, "private" %>
    <%= form.label :status, "Archived", value: "archived" %>
    <%= form.radio_button :status, "archived" %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
